---
layout: default
cards:
  - heading: Small heading
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ducimus
      officiis, repellat nulla at molestias!
    featured_image: /images/the-sleep-co-pug (1).jpg
  - heading: Small heading
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ducimus
      officiis, repellat nulla at molestias!
    featured_image: /images/the-sleep-co-bed.jpg
  - heading: Small heading
    description: >-
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ducimus
      officiis, repellat nulla at molestias!
    featured_image: /images/the-sleep-co-3.jpg
---

<!---------------Header & Banner---------------->
    <header class="grid banner tall-60">
        {% include header-nav.html %}
        <section class="col-12 text-center">
                <h3 class="font-weight-extra-bold editable">
                    <span class="featured-text"> addictively </span> soft
                </h3>
                <h1 class="font-weight-light editable">
                    you won't want to get out of bed
                </h1>
        </section>
</header>

<!---------------Text Grid Section---------------->
<section class="padded grid bg-featured">
    <div class="padded-sm col-12 text-center">
        <h2> our mattress <span class="white-text">promise</span></h2>
    </div>
    <div class="padded-sm col-3">
        <h3> little heading </h3>
        <p class="justified"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dignissimos fuga nemo deleniti nam suscipit odio! Quas quidem quos quaerat, mollitia minus at officiis, eius deleniti cupiditate, quisquam molestias voluptates.</p>
    </div>
    <div class="padded-sm col-3">
        <h3> little heading </h3>
        <p class="justified"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dignissimos fuga nemo deleniti nam suscipit odio! Quas quidem quos quaerat, mollitia minus at officiis, eius deleniti cupiditate, quisquam molestias voluptates.</p>
    </div>
    <div class="padded-sm col-3">
        <h3> little heading </h3>
        <p class="justified"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dignissimos fuga nemo deleniti nam suscipit odio! Quas quidem quos quaerat, mollitia minus at officiis, eius deleniti cupiditate, quisquam molestias voluptates.</p>
    </div>
    <div class="padded-sm col-3">
        <h3> little heading </h3>
        <p class="justified"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dignissimos fuga nemo deleniti nam suscipit odio! Quas quidem quos quaerat, mollitia minus at officiis, eius deleniti cupiditate, quisquam molestias voluptates.</p>
    </div>
</section>

<!---------------Cards Section---------------->
<section class="grid padded">

    {% for item in page.cards %}

    <div class="col-4 padded-sm">
        <div class="card bordered">
            <div class="bg-image portrait" style="background-image: url('{{item.featured_image}}')"> </div>
            <div class="padded-sm">
                <h3> {{item.heading}} </h3>
                <p class="justified"> {{item.description}} </p>
            </div>
        </div>
    </div>
    {% endfor %}
  
</section>

<!--------------- Image Banner ---------------->

<section class="padded text-center tall-70 grid bg-dark">
    <div class="col-12-middle">  
        <h3 class="big-text"> 
            <span class="small-text font-weight-normal">spend over $150 and activate </span>
            <br /> <span class="featured-text"> free </span> express shipping
        </h3>
    </div>
</section>

<!---------------Gallery / ABout Section---------------->
<section class="grid">
    <div class="padded col-6-middle">
        <h2 class="editable">
            a catchy <span class="featured-text">heading</span>
        </h2> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quos totam, nulla ipsum sequi veniam atque minima ut aperiam excepturi molestias modi ullam. Architecto labore eaque facilis vitae esse provident.</p> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quos totam, nulla ipsum sequi veniam atque minima ut aperiam excepturi molestias modi ullam. Architecto labore eaque facilis vitae esse provident.</p>   
    </div>
    <div class="bg-image bg-bed col-6 tall-70"> 
        <!-----Background image bed----->
    </div>
    <div class="bg-image bg-pug col-6 tall-70">
        <!-----Background Image pug----->    
    </div>
    <div class="padded col-6-middle"> 
        <h2 class="editable">
            a catchy <span class="featured-text">heading</span>
        </h2> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quos totam, nulla ipsum sequi veniam atque minima ut aperiam excepturi molestias modi ullam. Architecto labore eaque facilis vitae esse provident.</p>   
    </div>
    <div class="padded col-6-middle">
        <h2 class="editable">
            a catchy <span class="featured-text">heading</span>
        </h2> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quos totam, nulla ipsum sequi veniam atque minima ut aperiam excepturi molestias modi ullam. Architecto labore eaque facilis vitae esse provident.</p> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quos totam, nulla ipsum sequi veniam atque minima ut aperiam excepturi molestias modi ullam. Architecto labore eaque facilis vitae esse provident.</p>   
    </div>
    <div class="bg-image bg-bed col-6 tall-70"> 
        <!-----Background image bed----->
    </div>
</section>
