<footer class="padded grid-center bg-dark">
    <div class="padded-sm col-12 text-center">
        <h2> THE SLEEP CO </h2>
    </div>
    <div class="padded-sm col-5 text-center">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minima alias, temporibus nobis explicabo laborum sed ullam tenetur expedita possimus? </p>
    </div>
    <nav class="col-12 text-center social-links padded-sm">
        <a href="#"> 
            <i class="fab fa-facebook-square padded-05 margin-bottom-0"> </i>
        </a>
        <a href="#"> 
            <i class="fab fa-instagram padded-05 margin-bottom-0"> </i>
        </a> 
        <a href="#"> 
            <i class="fab fa-instagram padded-05 margin-bottom-0"> </i>
        </a> 
    </nav> 
</footer>